/* Modificacion para la pagina carta */

/* Linea gorda donde se pone el nombre de la carta */
.primera-linea {
    background-color: #935a68;
    color: aliceblue;
    text-align: start;
    width: 80%;
}
    .primera-linea h2{
        align-self: center;
        margin-left: 10%;
        transition: transform 6s;
    animation-duration: 3s ;
    animation-name: slidein ;
    }
    @keyframes slidein {
        from {
          margin-left: -20%;
          width: 100%;
        }
      
        to {
          margin-left: 10%;
          width: 300%;
        }
      }
/*La carata donde estan todos los productos */

.base-carta{
    background-color: #0D1C23;
    padding: 4rem 2rem 4rem 2rem;    
    
}
/* .justify-content-between{
    justify-content: center !;
} */
.base-carta2{
    padding: 2rem 2rem;
}

.foto-menu h1{
    color: white;
    font-size: 14vw;
    font-family: '';
    text-align: center;

}
.container-linea{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    /* Ajusta el tamaño del contenedor según lo necesites */
}
.vertical-line {
    border-left: 1px solid white; /* Puedes cambiar el color y el grosor de la línea */
    height: 80%; /* Altura de la línea */
    justify-content: center;
  }
  @media (max-width: 1024px) {
    .container-linea {
        display: none; /* Oculta el contenedor en dispositivos más pequeños que un iPad */
    }
}
/* Columnas */

/* Indice carta principal */
.cabecera-indice{
    height: 50%;
    padding: 1rem;
}

.titulo-indice{
    color: white;
    font-size: 3rem;
}
.listas{
    margin-top: 1rem;
    text-align: left;
    color: white;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    flex-grow: 1;
    width: 80%;

}
.listas2{
    color: white;
    flex-grow: 1;
    width: 20%;

}

#box-indice{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cabecera-indice img{
    width: 15rem;
    height: 15rem;
    border: 0.1rem white solid;
}

.columna,.columna1{
    padding: 1rem;
}
/* El contenedor de cada producto en si con las dos filas */
.cabecera-productoscarta {
    color: #9c6a76;
    margin-bottom: 2.5rem;

    }
    /* Imagenes de los productos */
    .cabecera-productoscarta img {
        width: 16rem;
        height: 14rem;
        margin-bottom: 1rem;

    }
    /* El nombre de los productos */
    .cabecera-productoscarta h3 {
        background-color: #d9d9d9;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

/* Fila de la imagen y el texto */
.foto-decripcion{
    height: 18rem;
    padding: 0;
}
.cuadro-descripcion{
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: column;
    color: white;
    border: 0.2rem solid;
    text-align: justify;
    font-weight: 100;
    position: relative; /* Para usar el posicionamiento relativo */
    font-family: 'italic';
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;

}


/* CSS para poner la rayita por debajo a las palabras */
.subrayado {
    position: relative;
}

    .subrayado::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0; /* Centramos el borde horizontalmente en la mitad del elemento */
        width: 30%; /* Cubre la mitad del elemento */
        height: 0.4rem; /* Grosor del borde */
        background-color: #9c6a76; /* Color del borde */
    }
    .subrayado2 {
        position: relative;
        color: white;
    }
    .subrayado2::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -1rem; /* Centramos el borde horizontalmente en la mitad del elemento */
        width: 15%; /* Cubre la mitad del elemento */
        height: 0.4rem; /* Grosor del borde */
        background-color: white; /* Color del borde */
    }


/* ---------------------------- */





.premiado1-box {
    margin-top: 20px;
    margin-left: 0;
    width: 200px;
    background-color: #efefef;
    text-align: center;
    font-size: 24px;
    position: relative;
    padding: 20px;
    overflow: visible;
    float: left;
  }
/* .premiado1{
        height: 60px;
        width: 60px;
        background: fotofigma/premio1.png 50px no-repeat;
        background-position: right;
        position: absolute;
        top: -20px;
        right: -20px;
        background-size: cover;
        z-index: 1;
      
} */