.primera-linea{
    background-color: #935a68;
text-align: center;
    width: 70%;
}
.contenedor-productos{
    columns: 2;

}
.producto{
    display: flex;
}
.descripcion{
    background-color: #966458;
}
.separador {
    width: 80%;
    height: 1rem;
    background: #f5e4e2;
}