.heading{
    background-color: black;
}
.fondo{
    position: relative;
    display: flex;
    justify-content: center;
    color: #ffffff;
}
.fondo img{
    width: 100%;
    height: 600px;
}
.titulo-about{
    position: absolute;
    font-size: 6rem;
    top:50%;


} 

.imagen img {
    width: 80%;
    height: 80%;

}
.about-content img{
    width: 70rem;
    height: 70rem;
}
.primer-texto{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.segundo-texto {
    width: 100%;
    text-align: center;
    
}
