
.carousel-inner{
    position: relative;
    text-align: center;
  
  }
  .carousel-inner h1{
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    transform: translateY(-120%); /* Ajusta la posición vertical con transform */
    z-index: 1;
  }
  .carousel img{
    margin-top: 4rem;
  }