


/* COMÚN: */
*{
    box-sizing: border-box;
}




body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e1cecc;
}
html{
    font-size: 62.5%;
    }
    body{
    font-size: 16px;;
    }

header{
        text-align: center;
    }
    
    .titulo img{
        width:6rem;
        height:7rem;
    }


    /* H1, TÍTULO STYLE*/

    h1{ 
        font-family: 'Playfair Display SC', serif;
    }

    /*FOOTER STYLE*/
    
    .fot {
        margin: 2rem 2rem 2rem 2rem;
        padding: 2rem 2rem 2rem 1rem;
        background-color: #dcd2d2; /* Cambia el color de fondo a tu elección */
        color: #000000; /* Cambia el color del texto a tu elección */
        box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);
    }

    .fot img{
        width: 5rem;
        height: 5rem;
        padding-left: 0.5rem;
    }
    

   
    .map-compra{
        display: flex;
        justify-content: space-between;
        margin: 2rem;
    }
    .map{
        display: flex;
    }
    
    

/*NAV STYLE*/
    .navi{
        list-style: none;
    }
    .navi a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        
    }
    .navi img {
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        width:5rem;
        height: 5rem;
    }

    /* CARTA */

    .contenedor-secciones {
        display: flex;
        justify-content: space-around;
    }
    
    .globos {
        background-color: rgb(255, 230, 232);
        border-radius: 80%;
        width: 60rem;
    }
    
    .contenedor-secciones .globos a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
 

    

 /* BODY STYLE: */
    .primera-linea{
        background-color: #935a68;
        margin: 2REM 0 2rem 0;
        text-align: center;
        width: 70%;
        height: 6rem;
        padding-left: 3rem;
    }
    .contenedor-productos{
        columns: 2;
    
    }
    .producto{
        display: flex;
    }
    .descripcion{
        background-color: #966458;
    }
    .separador {
        height: 1rem;
        background: #f5e4e2;
    }
    