.f-img{
    width: 48px;
    height: 48px;

}
.r-img{
    width: 40px;
    height: 40px;
}
.t-img{
    width: 40px;
    height: 40px;
}
.m-img{
    width: 48px;
    height: 48px;
}
/*FOOTER*/
.mf-top{
    margin-top: 4rem;
}
/*CARRUSEL DE INICIO*/
.mc-top{
    padding-top: 1rem;
}
/*barra navegacion INICIO*/
.nv-top{

    background-color: var(--pastel6);
    
}
/*navbar de carta seleccionador*/
.dc-nav{
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: var(--pastel3);
   
}
/*cabecera logo*/
.navb{
    
    background-color: var(--pastel8);
}
/*aboutus*/


/*boton menu despegable*/
.navbar{
    background-color:var(--pastel1);
}

.navbar a:hover {
    background-color: var(--pastel8);
    
}


