.f-img{
    width: 48px;
    height: 48px;

}
.r-img{
    width: 40px;
    height: 40px;
}
.t-img{
    width: 40px;
    height: 40px;
}
.m-img{
    width: 48px;
    height: 48px;
}
/*FOOTER*/
.mf-top{
    margin-top: 4rem;
}
/*CARRUSEL DE INICIO*/
.mc-top{
    padding-top: 1rem;
}
/*barra navegacion INICIO*/
.nv-top{

    background-color: var(--pastel6);
    
}
/*navbar de carta seleccionador*/
.dc-nav{
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: var(--pastel3);
   
}
/*cabecera nav logo*/
.navb{
    background-color: var(--pastel8);
}

/*aboutus*/


/*boton menu despegable*/
.dropdown-toggle{
    display: inline;

}
.dropdown-menu{
    background-color:var(--pastel6)
}
.dropdown-item{
    font-size: 2rem;
    
}
.dropdown-menu :hover{
    background-color: var(--pastel8)
}
.dd-top{
    padding-top: 1rem;
    background-color: var(--pastel3);
}

