/* CONTENEDOR DEL contenedor-titulo-nav Y LOGO */

.contenedor-cabecera{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

/* CONTENEDOR TITULO Y NAV */

    

        

        nav img {
            width: 4rem;
            height: 4rem;
        }
        .casa{
            grid-column: 6;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .rectangulo {
            display: block;
            height: 1rem;
            background: #D2B6B3;
        }
            /* TITULO */

        .titulo-grid {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
        }
        .titulo-flex{
            grid-column: 4;
        }
        .titulo-flex h1{
            font-size: 5rem;
        }
        .titulo-flex img{
            width:10rem;
            height:10rem;
        
        }


    /* SELLO */

    .logo{
        grid-column: 9/10;
        display: flex;
        align-items: flex-end;
    }
    .logo img {
        width: 10rem;
        height: 10rem;
    }


/* CARTA */

.contenedor-secciones {
display: grid;
grid-template-columns: repeat(4,1fr);
margin: 4rem 3rem 0 3rem;
grid-gap: 3rem;
}

.globos {
background-color: aliceblue;
border-radius: 89%;
text-align: center;
}

.contenedor-secciones .globos a {
text-decoration: none;
color: black;
font-weight: bold;
}



