/*navbar*/
/*logo*/

.navbar h1{
    font-size: 4rem;
}
.navbar img{
    width: 95px;
    height: 90px;
}

/*navlog*/

a .nav-img{
    
    width: 48px;
    height: 48px;
}
.nav-link{
    font-size: 2rem;
}

/*nav descripcion de carta*/

a .dc-img{
    width: 48px;
    height: 48px;
}
a .nv-img{
    width: 36px;
    height: 36px;

}
.btn-custom {
    background-color: burlywood;
    /* Otros estilos si son necesarios */
}

.menu-secundario {
    padding: 1.5rem 0.5rem 1.5rem 0.5rem;
}
.menu-secundario a{
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    
}
.dropdown-menu {
    
    padding: 1rem;
}
#desplegable{
    
    background:#3498db ;
    opacity: 0.9;
}